@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

body {
    margin: 0;
}
#body-sections {
    display: block;
}
#body-wrap {
    display: none;
}
#header-wrap {
    width: 98vw;
    height: 80px;
    box-shadow: 0px 10px 5px lightgray;
    padding-top: 0px;
    margin-top: 0px;
}
#header-wrap h2 {
    font-size: 40px;
    font-family: Algerian;
    margin: 10px 0px 0px 30px;
}
#header-wrap p {
    font-size: 25px;
    margin-left: 20px;
    margin-top: 25px;
}
#header-wrap input {
    position: relative;
    top: -5px;
    width: 16vw;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 10px;
    margin: 0px 20px 0px 0px;
    outline: none;
    background-color: lightgray;
} 
#head-left {
    display: inline-flex;
}
#div-input {
    float: right;
}
#cart {
    position: relative;
    font-size: 35px;
    margin-top: 20px;
    margin-right: 20px;
}
#cart-count {
    position: absolute;
    top: -18px;
    left:20px;
    font-size: 20px;
    background-color: lightgreen;
    border-radius: 50%;
    z-index: 100;
    width: 30px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
} 
#header-wrap img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-top: 20px;
    float: right;
}

.section{
	width: 100%;
	min-height: 100vh;
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}

/*FOOTER SECTION*/
#footer {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    justify-content: stretch;
    column-gap: 30px;
    width: 98vw;
    background-color: black;
    color: white;
    padding: 40px 0px 0px 0px; 
}
#store {
    padding-left: 30px;
}
@media screen and (max-width: 500px){
    #access {
        width: 90vw;
    }
    #header-wrap h2 {
        font-size: 30px;
        margin-left: 10px;
    }
    #clothes {
        display:flex;
        flex-direction: column;
    }
    #access {
        display:flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 600px){
    #div-input input {
        display: none;
    }
}
@media screen and (max-width: 768px){
    #footer {
        font-size: 10px;
        grid-template-columns: 15vw 15vw 15vw 15vw;
        row-gap: 0px;
    }
    .cloth-text {
        font-size: 15px;
    }
}
@media screen and (max-width: 930px){
    .delnone {
        display: none;
    }
}













