@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

body {
    margin: 0;
}
#body-sections {
    display: block;
}
#body-wrap {
    display: none;
}
#header-wrap {
    width: 98vw;
    height: 80px;
    box-shadow: 0px 10px 5px lightgray;
    padding-top: 0px;
    margin-top: 0px;
}
#header-wrap h2 {
    font-size: 40px;
    font-family: Algerian;
    margin: 10px 0px 0px 30px;
}
#header-wrap p {
    font-size: 25px;
    margin-left: 20px;
    margin-top: 25px;
}
#header-wrap input {
    position: relative;
    top: -5px;
    width: 16vw;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 10px;
    margin: 0px 20px 0px 0px;
    outline: none;
    background-color: lightgray;
} 
#head-left {
    display: inline-flex;
}
#div-input {
    float: right;
}
#cart {
    position: relative;
    font-size: 35px;
    margin-top: 20px;
    margin-right: 20px;
}
#cart-count {
    position: absolute;
    top: -18px;
    left:20px;
    font-size: 20px;
    background-color: lightgreen;
    border-radius: 50%;
    z-index: 100;
    width: 30px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
} 
#header-wrap img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-top: 20px;
    float: right;
}

/*CAROUSEL SECTION*/
.slideshow {
    position: relative;
    margin-top: 60px;
  }
  .slides {
    display: none;
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
  }
  .slides img {
      width: 90vw;
      height: 400px;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .prev {
      left: 5vw;
  }
  .next {
    right: 5vw;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/*CAROUSEEL SECTION ENDED*/





/* CLOTHES SECTION*/

.products .filter-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2.5rem;
  gap: 2rem;
}
.products .heading{
  text-align: center;
  text-transform: uppercase;
  color:var(--text-color);
  font-size: 35px;
  padding:10px;
}
.products .filter-buttons .buttons {
  font-size: 1.7rem;
  color: #666;
  cursor: pointer;
}

.products .filter-buttons .buttons:hover, .products .filter-buttons .buttons.active {
  color: #eb4d4b;
}

.products .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products .box-container .box {
  width: 26rem;
  border-radius: .5rem;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.products .box-container .box.hide {
  display: none;
}

.products .box-container .box.active {
  -webkit-animation: fadeUp .4s linear;
          animation: fadeUp .4s linear;
}

.products .box-container .box .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  height: 35rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  gap: .5rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 1;
}

.products .box-container .box .icons a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  background: #fff;
  border-radius: .5rem;
}

.products .box-container .box:hover .icons {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.products .box-container .box .image {
  height: 35rem;
  width: 100%;
  overflow: hidden;
}

.products .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.products .box-container .box .content {
  padding: 1rem 1.5rem;
}

.products .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
  font-weight: normal;
}

.products .box-container .box .content .price {
  padding: .5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .box-container .box .content .price .amount {
  font-size: 2.2rem;
  font-weight: bolder;
  color: #130f40;
}

.products .box-container .box .content .price .cut {
  font-size: 1.5rem;
  text-decoration: line-through;
  color: #666;
}

.products .box-container .box .content .price .offer {
  font-size: 2rem;
  color: #eb4d4b;
}

.products .box-container .box .content .stars {
  font-size: 1.7rem;
}

.products .box-container .box .content .stars i {
  color: gold;
}

.products .box-container .box .content .stars span {
  color: #666;
}





/*ACCESSORIES SECTION*/
#accessory {
    padding: 150px 0px 150px 0px;
}
#accessory h2 {
    margin-left: 4vw;
}
#access {
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}
body.active{
  --bg:#eee;
  --border-color:rgba(0,0,0,.3);
  --background:#f9f9f9;
  --box-shadow:rgba(0,0,0,.1);
  --text-color:#333;
}

.container{
  padding:80px 7%;
  background:var(--bg);
  position: relative;
}

.container .heading{
  text-align: center;
  text-transform: uppercase;
  color:var(--text-color);
  font-size: 35px;
  padding:10px;
}

.container .heading span{
  text-transform: uppercase;
  color:var(--orange);
}

.container .box-container{
  border-radius: 5px;
  border:1px solid var(--border-color);
  box-shadow: 0 5px 10px var(--box-shadow);
  background:var(--background);
  padding:0 15px;
}

.container .box-container .box{
  border-radius: 5px;
  border:1px solid var(--border-color);
  box-shadow: 0 5px 10px var(--box-shadow);
  background:var(--background);
  padding:15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:15px;
}

.container .box-container .box .image-container{
  flex:1 1 500px;
  display: flex;
  align-items: center;
  gap:15px;
}

.container .box-container .box .content{
  flex:1 1 350px;
}

.container .box-container .box .image-container .small-image{
  width:20%;
}

.container .box-container .box .image-container .big-image{
  width:80%;
}

.container .box-container .box .image-container .small-image img{
  width:100%;
  padding:10px;
  border-radius: 5px;
  border:1px solid var(--border-color);
  cursor: pointer;
}

.container .box-container .box .image-container .small-image img:hover{
  background:rgba(0,0,0,.2);
}

.container .box-container .box .image-container .big-image img{
  width:100%;
  padding:10px;
  filter: drop-shadow(0 5px 10px rgba(0,0,0,.2));
}

.container .box-container .box .content h3{
  color:var(--text-color);
  font-size: 25px;
}

.container .box-container .box .content .stars i{
  color:var(--orange);
  padding:5px 0;
}

.container .box-container .box .content p{
  color:var(--text-color);
  padding:5px 0;
  font-size: 17px;
}

.container .box-container .box .content .price{
  color:var(--orange);
  padding:5px 0;
  font-size: 25px;
  font-weight: bolder;
}

.container .box-container .box .content .price span{
  color:var(--text-color);
  font-size: 15px;
  text-decoration: line-through;
}

.container .box-container .box .content .btn{
  display: inline-block;
  background:var(--background);
  color:var(--text-color);
  border:1px solid var(--border-color);
  border-radius: 5px;
  margin-top: 10px;
  font-size: 17px;
  padding:8px 30px;
}

.container .box-container .box .content .btn:hover{
  background:var(--orange);
  color:#fff;
}



/*FOOTER SECTION*/
#footer {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    justify-content: stretch;
    column-gap: 30px;
    width: 98vw;
    background-color: black;
    color: white;
    padding: 40px 0px 0px 0px; 
}
#store {
    padding-left: 30px;
}
@media screen and (max-width: 500px){
    #access {
        width: 90vw;
    }
    #header-wrap h2 {
        font-size: 30px;
        margin-left: 10px;
    }
    #clothes {
        display:flex;
        flex-direction: column;
    }
    #access {
        display:flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 600px){
    #div-input input {
        display: none;
    }
}
@media screen and (max-width: 768px){
    #footer {
        font-size: 10px;
        grid-template-columns: 15vw 15vw 15vw 15vw;
        row-gap: 0px;
    }
    .cloth-text {
        font-size: 15px;
    }
}
@media screen and (max-width: 930px){
    .delnone {
        display: none;
    }
}
