@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

body {
    margin: 0;
}
#body-sections {
    display: block;
}
#body-wrap {
    display: none;
}
#header-wrap {
    width: 98vw;
    height: 80px;
    box-shadow: 0px 10px 5px lightgray;
    padding-top: 0px;
    margin-top: 0px;
}
#header-wrap h2 {
    font-size: 40px;
    font-family: Algerian;
    margin: 10px 0px 0px 30px;
}
#header-wrap p {
    font-size: 25px;
    margin-left: 20px;
    margin-top: 25px;
}
#header-wrap input {
    position: relative;
    top: -5px;
    width: 16vw;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 10px;
    margin: 0px 20px 0px 0px;
    outline: none;
    background-color: lightgray;
} 
#head-left {
    display: inline-flex;
}
#div-input {
    float: right;
}
#cart {
    position: relative;
    font-size: 35px;
    margin-top: 20px;
    margin-right: 20px;
}
#cart-count {
    position: absolute;
    top: -18px;
    left:20px;
    font-size: 20px;
    background-color: lightgreen;
    border-radius: 50%;
    z-index: 100;
    width: 30px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
} 
#header-wrap img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-top: 20px;
    float: right;
}

.container{
    padding:15px 9%;
    padding-bottom: 100px;
}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}

.container .box-container .box img{
    height: 80px;
}

.container .box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}
/*FOOTER SECTION*/
#footer {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    justify-content: stretch;
    column-gap: 30px;
    width: 98vw;
    background-color: black;
    color: white;
    padding: 40px 0px 0px 0px; 
}
#store {
    padding-left: 30px;
}
@media screen and (max-width: 500px){
    #access {
        width: 90vw;
    }
    #header-wrap h2 {
        font-size: 30px;
        margin-left: 10px;
    }
    #clothes {
        display:flex;
        flex-direction: column;
    }
    #access {
        display:flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 600px){
    #div-input input {
        display: none;
    }
}
@media screen and (max-width: 768px){
    #footer {
        font-size: 10px;
        grid-template-columns: 15vw 15vw 15vw 15vw;
        row-gap: 0px;
    }
    .cloth-text {
        font-size: 15px;
    }
}
@media screen and (max-width: 930px){
    .delnone {
        display: none;
    }
}